* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    padding: 30px;
}

.draw-container {
    display: flex;
    height: 100vh;
    aspect-ratio: 1;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: stretch;
    justify-content: center;
    border: dashed red 3px;
    padding: 30px;
    box-sizing: border-box;
    background-color: black;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    aspect-ratio: 1;
    flex: 1;
    border: solid black 1px;
    box-sizing: border-box;
    background-color: white;
    /*transition: background-color 3s linear .3s;*/
}

.draw {
    background-color: var(--rnd-background);
    /*transition: background-color 0s linear 0s;*/
}

.slider {
    width: 99%;
}

.slider::-webkit-slider-thumb {
    background-color: green;
    border-radius: 25%;
}